old_and_assessment.csv
spatial-1.ipynb

yarn-error.log*
yarn-debug.log*
npm-debug.log*
.env.production.local
.env.test.local
.env.development.local
.env.local
.DS_Store

# misc
/build
# production
/coverage
# testing
.pnp.js
/.pnp
/node_modules
# dependencies

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.